@import "assets/fonts/WEB/css/excon.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #176ba3;
  --secondary-color: #DBF0FF;
  --grayish-color: #6C7293;
  --white-color: white;
  --black-color: #000;

    --orange: #F58021;
    --blue: #176BA3
}


body,
* {
  font-family: "Excon-Regular", sans-serif !important;
}

.overflow-y-scroll::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: transparent; /* Make the background transparent */
  display: none;
}

.overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}


input[type="date"]:in-range::-webkit-datetime-edit-year-field, 
input[type="date"]:in-range::-webkit-datetime-edit-month-field, 
input[type="date"]:in-range::-webkit-datetime-edit-day-field, 
input[type="date"]:in-range::-webkit-datetime-edit-text { 	color: transparent; }


.fixedColumn {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
}



.centerColumn {
  /* padding: 10px; */
  margin-left: 15.5%;
  /* Adjust as per left column width */
  /* margin-right: 20%; Adjust as per right column width */
}

@media screen and (max-width: 768px) {
  /* Adjust breakpoint as needed */
  .leftColumn,
  .rightColumn {
    display: none;
  }
  .centerColumn {
    margin-left: 0;
    margin-right: 0;
  }
}


.sidebar-nohover:hover{
  background-color: var(--blue);
  color: white;
}


:root {
  --primary-color: #377cf6;
}
.primary-bg {
  background-color: var(--primary-color);
}
.primary-text {
  color: var(--primary-color);
}

/* FOR THE REMOVAL OF ARROW INPUT TYPE "NUMBER" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}

.left-sidebar-shadow {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.ant-drawer .ant-drawer-header {
  border-bottom: 0;
  padding: 0 24px;
}

.ant-drawer .ant-drawer-content-wrapper{
  border-top-left-radius: 80px !important;
  border-bottom-left-radius: 80px !important;
}

.ant-divider-horizontal {
  margin: 10px 0;
  color: black;
}

.ant-drawer .ant-drawer-body {
  padding: 0 24px;
}

.auth-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.content {
  width: 42rem;
  height: 90%;
  margin-left: 3rem;
  background-color: white;
  border-radius: 32px;
}

.sign-page {
  background-image: url("assets/image/bg3.png");
}

.verification-bg {
  background-image: url("assets/image/bg1.png");
}

.forgot-pg {
  background-image: url("assets//image/bg2.png");
}

/* paidreceipt modal ant design css overlapping */
.ant-modal .ant-modal-header {
  background-color: #f7f8f9;
  border-radius: 3rem;
}

.ant-modal .ant-modal-content {
  background-color: #f7f8f9;
  padding: 0;
  border-radius: 3rem;
}

/* payment method of bill management changing the css of ant design card */
.ant-card .ant-card-body {
  padding: 0;
}

/* ant design collapse css overlapping */
.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

.ant-collapse-expand-icon {
  color: #377cf6;
  background-color: #e8e7ec;
  padding-inline-end: 0px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 100%;
  font-size: 20px;
}

.ant-collapse-header-text {
  color: #192440;
  font-size: 16px;
}

/* .ant-tabs-tab .ant-tabs-tab-active{
  background-color: #377CF6 !important;
  color: white !important;
} */

.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active {
  background-color: #377cf6 !important;
  color: white !important;
}

.custom-tab-background
  .ant-tabs-card.ant-tabs-top
  > .ant-tabs-nav
  .ant-tabs-tab {
  /* border: 1px solid #d9d9d9; */
  background-color: #e8e7ec;
}

/* .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab:hover {
  color: white;
} */

.ant-tabs-tab-btn {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white;
}

.active-color {
  color: green;
}

.custom-menu .ant-menu-item:hover {
  color: var(--blue) !important;
}
.custom-menu .ant-menu-item-active {
  color: #377cf6 !important;
}

.ant-menu-light {
  background: none;
}

.ant-menu-horizontal {
  border-bottom: 0;
}
/* PAYMENT TYPE TABS STYLING */

.active-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dbf0ff;
  border: 2px solid #377cf6;
  opacity: 50%;
  pointer-events: none;
  border-radius: 1rem;
}

.drawer-cards-shadow {
  box-shadow: 3px 3px 20px 0px rgba(43, 43, 43, 1);
  -webkit-box-shadow: 3px 3px 20px 0px rgba(43, 43, 43, 1);
  -moz-box-shadow: 3px 3px 20px 0px rgba(43, 43, 43, 1);
}

.MuiMenu-paper {
  margin-top: 10px;
  border: 2px solid #1976d2;
}

/* button custom padding */
.btn-custom-padding {
  padding: 10px 25px !important;
  font-weight: 600;
  width: 8rem;
}
.first-btn {
  background-color: transparent !important;
  border: 2px solid #176BA3;
  color: #176BA3 !important;
}

.first-btn:hover{
  border: 2px solid #F58021 !important;
  color: #F58021 !important;
}

.back-btn{
  color: var(--blue);
  background-color: transparent;
  border: 0;
}

.back-btn:hover{
  color: var(--orange) !important;
  background-color: transparent !important;
}


.cancel-btn{
  background-color: transparent !important;
  border: 2px solid #6C7293;
  color: #6C7293 !important;
}

.cancel-btn:hover{
  border: 2px solid #F1416C !important;
  color: #F1416C !important;
}

.other-tabs-fontW{
  font-weight: 500;
  width: 100%;
  padding: 1rem 1.5rem !important;
}
.debit-btn{
  padding: 1.2rem 5rem !important;
  font-weight: 500;
}

.hover-color{
  background-color: #176BA3 !important;
}

.hover-color:hover{
  background-color: transparent !important;
  /* color: white !important; */
  color:#F58021 !important;
  border: 2px solid #F58021 !important;
}

/* faq card shadow */
.faq-card-shadow {
  box-shadow: 0px 0px 20px 0px rgba(115, 115, 115, 1);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(115, 115, 115, 1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(115, 115, 115, 1);
}

/* select font weight bold */
.ant-select-selection-item {
  font-weight: 600 !important;
}

/* steps font size */
.ant-steps-item-title {
  font-size: 13px !important;
  font-weight: 600 !important;
}

/* step margin */
.ant-steps {
  margin: 0 10rem !important;
}

/* Custom styles for the Select component */
.custom-select .ant-select-selector {
  background-color: transparent !important;
}

.custom-select .ant-select-arrow {
  color: #377cf6; /* Change this to your desired arrow color */
}

/* OTP INPUT STYLING */

.ant-otp-input {
  width: 3rem;
  height: 3rem;
  border: 1px solid #176ba3;
  border-radius: 0.375rem;
  color: #176ba3;
}

/* ant design image upload css */
.ant-upload-drag-icon {
  display: flex;
  justify-content: center;
}

.ant-upload-text {
  font-weight: 700;
}

.ant-upload-wrapper .ant-upload-drag {
  border: 2px dashed #329dff;
}

.ant-upload-wrapper .ant-upload-drag .ant-upload {
  padding: 0;
}

.btn-custom-style {
  padding: 1.3rem 6rem !important;
  border-radius: 24px !important;
}

/* ant dropdown  menu */

.ant-dropdown .ant-dropdown-menu {
  border-radius: 16px !important;
  padding: 5px !important;
}

.ant-dropdown-menu-item {
  padding: 10px 12px !important;
  font-weight: 600 !important;
  border-left: 4px solid white;
  /* border-radius: 16px !important; */
}

.ant-dropdown-menu-item:hover {
  background-color: #dbf0ff !important;
  /*  color: #508ef7 !important;
  border-left: 4px solid #377cf6; */
  
  color: var(--blue) !important;
  border-left: 4px solid var(--blue);
}

.complete-profile-shadow {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 1);
}

.btn-custom-class {
  padding: 20px 30px !important;
}

/* mui input placeholder fontsize */

.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 14px !important;
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: #1976d2 !important;
}

/* ant steps customization */
.ant-steps.ant-steps-small .ant-steps-item-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-steps-item-tail {
  padding: 5px 24px !important;
}

.ant-steps-icon {
  font-size: 16px;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 14px !important;
  line-height: 10px !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 8.5px 14px !important;
}

/* date picker calender icon color change */
.css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
  color: #006ab2 !important;
  font-size: 18px !important;
}

.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  font-weight: 600 !important;
  font-size: 16px !important;
}

.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 10px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root{
  border-radius: 10px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
}

/* MuiInputBase-root MuiOutlinedInput-root MuiInputBase-colorPrimary MuiInputBase-formControl MuiInputBase-adornedEnd  */

/* mui input datepicker or select */
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10px !important;
}

/* mui select */
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  border-radius: 24px !important;
  padding: 10px !important;
}

.MuiMenu-paper {
  border: 0;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  /* padding: 5px 10px !important; */
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
  background-color: #dbf0ff !important;
  color: #508ef7 !important;
  border-left: 4px solid #508ef7;
  border-radius: 5px;
}

.css-8je8zh-MuiTouchRipple-root {
  color: #508ef7 !important;
}

.css-1laqsz7-MuiInputAdornment-root {
  display: none !important;
}

/* animations */
@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.slide-in-right {
  animation: slideInRight 0.3s forwards;
}

.slide-out-right {
  animation: slideOutRight 0.3s forwards;
}
.CircularProgressbar .CircularProgressbar-text {
  font-size: 14px !important;
  position: absolute;
  top: 2rem;
}

/* bill management tab button */
.custom-tab-button {
  padding: 20px !important;
  /* border: 1px solid #e8e7ec !important; */
}

.custom-tab-button:hover {
  background-color: #e8e7ec !important;
  color: #176ba3 !important;
  border: 1px solid #d9d9d9 !important;
}

.no-hover:hover {
  background-color: #176ba3 !important;
  color: white !important; /* or specify the default color you want */
  border: 1px solid #e8e7ec !important; /* or specify the default border you want */
}



.active-tab-button {
  background-color: #176ba3 !important;
  color: white !important;
}


.tab-button-shadow{
  -webkit-box-shadow: 0px 0px 20px -8px rgba(3,119,207,1);
  -moz-box-shadow: 0px 0px 20px -8px rgba(3,119,207,1);
   box-shadow: 0px 0px 20px -8px rgba(3,119,207,1);
}



.custom-menu .ant-menu-item {
  position: relative; /* Ensure the pseudo-elements are positioned correctly */
}

/* ADDING STYLE IN BILLS TABS (DOT && ARROW) */
.custom-menu .ant-menu-item-selected::after {
  content: "•" !important;
  display: block;
  color: var(--blue);
  font-size: 2rem;
  position: absolute;
  left: 44% !important;
  transform: translateX(-50%) !important;
  top: 55%;
  bottom: -3rem;
  width: 0;
}

/* Arrow above the active menu item */
.custom-menu .ant-menu-item-selected::before {
  content: "";
  display: block;
  width: 1rem; /* Adjust the width as needed */
  height: 1rem; /* Adjust the height as needed */
  background: url('assets/image/bill-icon.png') no-repeat center center;
  background-size: contain; /* Ensure the image scales correctly */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -1rem; /* Adjust this to position the arrow correctly */
}

:where(.css-dev-only-do-not-override-m4timi).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected{
  color: var(--blue);
}

:where(.css-dev-only-do-not-override-m4timi).ant-menu-light.ant-menu-horizontal >.ant-menu-item-selected::after {
  border-bottom-width: 0;
  border-bottom-color: transparent;
}

.flex.items-center:hover .normal-icon {
  display: none;
}
.flex.items-center:hover .hover-icon {
  display: block !important;
}
:where(.css-dev-only-do-not-override-m4timi).ant-menu-light.ant-menu-horizontal >.ant-menu-item:hover::after, :where(.css-dev-only-do-not-override-m4timi).ant-menu-light>.ant-menu.ant-menu-horizontal >.ant-menu-item:hover::after {
  border-bottom-width: 0;
  border-bottom-color: transparent;
}
.ant-drawer .ant-drawer-body {
   padding: 0 !important;
}
:where(.css-dev-only-do-not-override-m4timi).ant-drawer .ant-drawer-body {
 padding: 0 !important; 
}

/* ant design switch background color */
.ant-switch.ant-switch-checked{
  background-color: #1e9f1f !important;
}
.activeRadio {
  border: 2px solid #377cf6; /* Border color for active radio button */
}

.ant-switch.ant-switch-small .ant-switch-inner .ant-switch-inner-unchecked{
  margin-top: -15px !important;
}
/* UserMultipleAccount.css */
.bg-red-200 {
  border: 1px solid #c34040;
}
.bg-white {
 border: 1px solid #fff;
}

