@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #377CF6;
}
.primary-bg {
  background-color: var(--primary-color);
}
.primary-text {
  color: var(--primary-color);
}

/* FOR THE REMOVAL OF ARROW INPUT TYPE "NUMBER" */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
}
.left-sidebar-shadow{
box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.ant-drawer .ant-drawer-header{
  border-bottom: 0;
  padding: 0 24px;
}
.ant-divider-horizontal{
  margin: 10px 0;
  color: black;
}
.ant-drawer .ant-drawer-body{
  padding: 0 24px;
}
.auth-bg{
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  width: 100%; 
  display: flex; 
  position: absolute;
  width: 100%;
  z-index: 1; 
}
.content {
  position: relative;
  z-index: 2;
  height: 0;
  width: 40rem;
  margin-left: 10rem;
}
.sign-page{
  background-image: url('assets/image/bg3.png');
}
.verification-bg{
  background-image: url('assets/image/bg1.png');
}
.forgot-pg{
  background-image: url('assets//image/bg2.png');
}
/* paidreceipt modal ant design css overlapping */
.ant-modal .ant-modal-header{
  background-color: #F7F8F9;
  border-radius: 3rem;
}
.ant-modal .ant-modal-content{
  background-color: #F7F8F9;
  padding: 0;
  border-radius: 3rem;
}

